<rule>
  <name>FixtureCables</name>
  <modelVersion>1.0</modelVersion>
  <attributes/>
  <metadataList/>
  <lhs>
    <compositePattern>
      <type>or</type>
      <patterns>
        <fact>
          <constraintList>
            <constraints>
              <fieldConstraint>
                <value>$fixtureType</value>
                <operator>==</operator>
                <constraintValueType>7</constraintValueType>
                <expression>
                  <parts/>
                  <index>2147483647</index>
                </expression>
                <parameters/>
                <factType>FixtureConfiguration</factType>
                <fieldName>fixtureType</fieldName>
                <fieldType>String</fieldType>
              </fieldConstraint>
              <fieldConstraint>
                <value>$cableType</value>
                <operator>==</operator>
                <constraintValueType>7</constraintValueType>
                <expression>
                  <parts/>
                  <index>2147483647</index>
                </expression>
                <parameters/>
                <factType>FixtureConfiguration</factType>
                <fieldName>cableType</fieldName>
                <fieldType>String</fieldType>
              </fieldConstraint>
            </constraints>
          </constraintList>
          <factType>FixtureConfiguration</factType>
          <isNegated>false</isNegated>
          <window>
            <parameters/>
          </window>
        </fact>
        <fact>
          <constraintList>
            <constraints>
              <fieldConstraint>
                <value>$cableFamilyCode</value>
                <operator>==</operator>
                <constraintValueType>7</constraintValueType>
                <expression>
                  <parts/>
                  <index>2147483647</index>
                </expression>
                <parameters/>
                <factType>CableRequest</factType>
                <fieldName>familyCode</fieldName>
                <fieldType>String</fieldType>
              </fieldConstraint>
              <compositeConstraint>
                <compositeJunctionType>||</compositeJunctionType>
                <constraints>
                  <fieldConstraint>
                    <value>$cableStandardCode</value>
                    <operator>==</operator>
                    <constraintValueType>7</constraintValueType>
                    <expression>
                      <parts/>
                      <index>2147483647</index>
                    </expression>
                    <parameters/>
                    <factType>CableRequest</factType>
                    <fieldName>materialCode</fieldName>
                    <fieldType>String</fieldType>
                  </fieldConstraint>
                  <fieldConstraint>
                    <value>$cableOnCommissionCode</value>
                    <operator>==</operator>
                    <constraintValueType>7</constraintValueType>
                    <expression>
                      <parts/>
                      <index>2147483647</index>
                    </expression>
                    <parameters/>
                    <factType>CableRequest</factType>
                    <fieldName>materialCode</fieldName>
                    <fieldType>String</fieldType>
                  </fieldConstraint>
                </constraints>
              </compositeConstraint>
            </constraints>
          </constraintList>
          <factType>CableRequest</factType>
          <isNegated>false</isNegated>
          <window>
            <parameters/>
          </window>
        </fact>
      </patterns>
    </compositePattern>
  </lhs>
  <rhs>
    <freeForm>
      <text>Tuple tuple = drools.getTuple();
insert(CableHelper.createCable(tuple, &quot;@{$cableFamilyCode}&quot;,  &quot;@{$cableStandardCode}&quot;, @{$cableStandardLength}, &quot;@{$cableOnCommissionCode}&quot;));</text>
    </freeForm>
  </rhs>
  <imports>
    <imports>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>ch.welld.schindler.fixture.droolsknowledge.materials.CableRequest</type>
      </org.kie.soup.project.datamodel.imports.Import>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>org.drools.core.spi.Tuple</type>
      </org.kie.soup.project.datamodel.imports.Import>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>ch.welld.schindler.fixture.droolsknowledge.materials.CableHelper</type>
      </org.kie.soup.project.datamodel.imports.Import>
    </imports>
  </imports>
  <packageName>ch.welld.schindler.fixture.droolsknowledge.components.fixtures</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>$fixtureType</string>
      <list>
        <string>FLOOR</string>
      </list>
    </entry>
    <entry>
      <string>$cableType</string>
      <list>
        <string>PVC/CCC</string>
      </list>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list>
        <string>1</string>
      </list>
    </entry>
    <entry>
      <string>$cableOnCommissionCode</string>
      <list>
        <string>57630791</string>
      </list>
    </entry>
    <entry>
      <string>$cableStandardCode</string>
      <list>
        <string>57630725</string>
      </list>
    </entry>
    <entry>
      <string>$cableFamilyCode</string>
      <list>
        <string>57634502</string>
      </list>
    </entry>
    <entry>
      <string>$cableStandardLength</string>
      <list>
        <string>900</string>
      </list>
    </entry>
  </table>
  <idCol>1</idCol>
  <rowsCount>1</rowsCount>
</rule>